.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 4rem 8rem;
  line-height: 1.5;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  .ayah {
    padding: 2rem 6rem;
    background-color: rgba(0, 0, 0, 0.6);
    direction: rtl;
    border-radius: 3px;
    .text {
      text-align: center;
      font-size: 3.7rem;
      font-weight: 500;
      color: white;
    }
  }
}

header {
  flex: 0 9rem;
  backdrop-filter: blur(3px);
}

footer {
  flex: 0 9rem;
  backdrop-filter: blur(3px);
}
