.container {
  background-size: cover;
}

main {
  padding: 6rem 24rem;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  .ayah {
    padding: 3rem 6rem;
    background-color: rgba(0, 0, 0, 0.6);
    direction: rtl;
    border-radius: 7px;
    line-height: 1.5;
    &__text {
      text-align: center;
      font-size: 3.7rem;
      font-weight: 500;
      color: white;
    }

    &__translate {
      text-align: center;
      font-size: 2.7rem;
      font-weight: 300;
      color: #fefefe;
      direction: ltr;
    }
  }
}

header {
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8rem;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}
