.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: center;
}

main {
  padding: 4rem;
  line-height: 1.5;
  .ayah {
    padding: 1.5rem 2.8rem;
    background-color: white;
    opacity: 0.4;
    direction: rtl;
    border-radius: 3px;
    .text {
      text-align: center;
    }
  }
}

header {
  height: 10rem;
}

footer {
  height: 10rem;
}
