@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px; // 1rem = 10px
}

body {
  font-family: "Scheherazade", serif;
}
